@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Lobster&family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Lobster&family=Raleway:wght@400;500;600&family=Rowdies:wght@300&display=swap");
* {
  font-family: "Cabin", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Rowdies", cursive;
}
.logo h1 {
  font-family: "Lobster", cursive !important;
}
