*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    color: white;
    font-family: sans-serif;
    color: gray;
    font-size: 15px;
}
.log{
    color: white;
    margin-bottom: 60px;
    text-align: center;

}
#login{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    
}
#miss{
    color: grey;
    margin-top: 15px;
    font-size: 15px;
    font-family: sans-serif;
}
input{
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #1a1a1a;
    margin: 10px 0;
    color: white;
}
input:focus{
    border: 1px solid yellow;
    outline: none;
}
.em{
    margin-bottom: 20px;
}
.login{
    width: 25%;
    padding: 10px;
}
.btn{
    background-color: white;
    color: black;
    font-weight: bold;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.btn:hover{
    background: black;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}
button{
    padding: 10px ;
    border: none;
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 40px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
button:hover{
    background-color: white;
    border: 1px solid black;
}
button a{
    text-decoration: none;
    transition: .5s ;
}
button:hover a{
color: black !important;
}
.for{
    position: relative;
}
.abs{
    position: absolute;
    right: 10px;
    top: 20px;
    font-weight: 400;
    color: gray;
    font-size: 15px;
    font-family: sans-serif;
}
.letspace{
    letter-spacing: 2px;
}